.link-container{
  display: flex;
  flex-direction: column;

  margin-top: 1rem;
  min-width: 40rem;
}

/* 
li {
  list-style: none;
  margin: 1rem;
  background-color: white;
  border-radius: 1.75rem;
  
  min-width: 30rem;
  min-height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
} */


/* 
a {
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
  margin: 1rem;
  font-weight: bold;
  
} */

a{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 1.75rem;
  background-color: white;
  color: black;
  font-size: 1.25rem;
  margin: 1rem;
  font-weight: bold;
  margin: 1rem;
  min-width: 30rem;
  min-height: 3rem;
}

 
